
<ul class="ybc-widget-display-footer-top grid">

  <li class="ybc-widget-item medium-up--one-third grid__item">
    <div class="ybc-widget-item">

      <i class="fa fa-truck"></i>

      <div class="ybc-widget-item-des">

        <h4 class="ybc-widget-title">Free Shipping</h4>


        <div class="ybc-widget-description">
          We offer FREE SHIPPING to all domestic orders.
        </div>

      </div>
    </div>
  </li>

  <li class="ybc-widget-item medium-up--one-third grid__item">
    <div class="ybc-widget-item">

      <i class="fa fa-clock"></i>

      <div class="ybc-widget-item-des">

        <h4 class="ybc-widget-title">Excellent support</h4>


        <div class="ybc-widget-description">
          We provide 24/7 online customer support via email.
        </div>

      </div>
    </div>
  </li>

  <li class="ybc-widget-item medium-up--one-third grid__item">
    <div class="ybc-widget-item">
      <i class="fa fa-money-bill-wave"></i>
      <div class="ybc-widget-item-des">
        <h4 class="ybc-widget-title">Money back guarantee</h4>
        <div class="ybc-widget-description">
          30 days money back guarantee, no additional fee charged.
        </div>

      </div>
    </div>
  </li>

</ul>